/*
My colors
#4C5270
#F652A0
either: #36EEE0 or #BCECE0

Different colors
#FBE7C6
#FFAEBC
either: #A0E7E5 or #B4F8C8
*/
@font-face {
  font-family: "EightBit Atari-Bigpl";
  src: url("fonts/EightBit Atari-Bigpl.ttf") format("truetype");
}

span{
  animation: blinker linear infinite;
}
@@keyframes blinker {
  50%{
    opacity: 0;
  }
}
.firstPage{
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #FFAEBC;
  padding: 2rem;
  /* position: absolute;
  top: 24%;
  left: 7%;
  text-align:left; */
  /* margin-bottom: 25%;
  margin-left: -26%; */
}

.mainText {
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #FFAEBC;
    margin-bottom: 5%;
    /* margin-left: -55%; */
}
p.subtext{
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #FFAEBC;
  /* position: absolute;
  top: 40%;
  left: 10%;
  text-align:left; */
  /* margin-top: 40%;
  margin-left: -26%; */
}
p.secondPagesubtext{
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #ffff;
}

body.indexBody{
  background-color: #4C5270;
}
.section {
  text-align:center;
  font-size: 3em;
}
h3.Edusubtext{
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #FFAEBC;
  /* position: absolute;
  top: 30%;
  left: 10%;
  text-align:left; */
}
p.Bachelorsub{
  font-family: Courier, Arial, sans-serif;
  color: #ffffff;
  /* position: absolute;
  top: 45%;
  left: 10%;
  text-align:left; */
}
h3.EduCertsub{
  font-family: 'EightBit Atari-Bigpl', Arial, sans-serif;
  color: #FFAEBC;
  /* position: absolute;
  top: 55%;
  left: 10%;
  text-align:left; */
}
a.certsub1{
  font-family: Courier, Arial, sans-serif;
  color: #A0E7E5;
  /* position: absolute;
  bottom: 30%;
  left: 10%;
  text-align:left; */
}
a.certsub2{
  font-family: Courier, Arial, sans-serif;
  color: #A0E7E5;
  /* position: absolute;
  bottom: 20%;
  left: 10%;
  text-align:left; */
}
a.certsub3{
  font-family: Courier, Arial, sans-serif;
  color: #A0E7E5;
  /* position: absolute;
  bottom: 10%;
  left: 10%;
  text-align:left; */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #A0E7E5 !important;
}
